<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="end">
      <ion-button (click)="signOut()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button (click)="perfil()">
        <ion-icon slot="start" name="person"></ion-icon>
        {{ displayName }}
      </ion-button>
    </ion-buttons>
    <ion-title> Cadastro de Produtos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-thumbnail class="user-image">
    <img [src]="avatar" alt="" />
  </ion-thumbnail>
  <form
    [formGroup]="produtoFormGroup"
    #produtoFormGroupDirective="ngForm"
    (ngSubmit)="createProduto(produtoFormGroup.value)"
  >
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Nome Produto:</ion-label>
        <ion-input
          formControlName="name"
          id="name"
          inputmode="text"
          clearInput="true"
          required
        ></ion-input>
      </ion-item>
      <div
        *ngIf="produtoFormGroup.get('name')?.hasError('required') && produtoFormGroup.get('name')?.touched"
      >
        <i style="color: red">Campo não pode estar vazio.</i>
      </div>
      <ion-item>
        <ion-label position="stacked">Tipo:</ion-label>
        <ion-input
          formControlName="type"
          id="type"
          inputmode="text"
          clearInput="true"
          required
        ></ion-input>
      </ion-item>
      <div
        *ngIf="produtoFormGroup.get('type')?.hasError('required') && produtoFormGroup.get('type')?.touched"
      >
        <i style="color: red">Campo não pode estar vazio.</i>
      </div>
      <ion-item>
        <ion-label position="stacked">Quantidade:</ion-label>
        <ion-input
          formControlName="amount"
          inputmode="number"
          clearInput="true"
          required
        ></ion-input>
      </ion-item>
      <div
        *ngIf="produtoFormGroup.get('amount')?.hasError('required') && produtoFormGroup.get('amount')?.touched"
      >
        <i style="color: red">Campo não pode estar vazio.</i>
      </div>
      <ion-item>
        <ion-label position="stacked">Preço de Compra:</ion-label>
        <ion-input
          formControlName="purchasePrice"
          inputmode="number"
          clearInput="true"
          required
        ></ion-input>
      </ion-item>
      <div
        *ngIf="produtoFormGroup.get('purchasePrice')?.hasError('required') && produtoFormGroup.get('purchasePrice')?.touched"
      >
        <i style="color: red">Campo não pode estar vazio.</i>
      </div>
      <ion-item>
        <ion-label for="" position="stacked">Porcentagem:</ion-label>
        <ion-input
          inputmode="number"
          clearInput="true"
          formControlName="percentage"
          (change)="calc()"
          required
        ></ion-input>
      </ion-item>
      <div
        *ngIf="produtoFormGroup.get('percentage')?.hasError('required') && produtoFormGroup.get('percentage')?.touched"
      >
        <i style="color: red">Campo não pode estar vazio.</i>
      </div>
      <ion-item>
        <ion-label position="stacked">Preço de Venda:</ion-label>
        <ion-input
          formControlName="saleValue"
          inputmode="number"
          clearInput="true"
          required
        ></ion-input>
      </ion-item>
      <div
        *ngIf="produtoFormGroup.get('saleValue')?.hasError('required') && produtoFormGroup.get('saleValue')?.touched"
      >
        <i style="color: red">Campo não pode estar vazio.</i>
      </div>
      <ion-item>
        <ion-label position="stacked">Fornecedor:</ion-label>
        <ion-input
          formControlName="supplier"
          inputmode="text"
          clearInput="true"
          required
        ></ion-input>
      </ion-item>
      <div
        *ngIf="produtoFormGroup.get('supplier')?.hasError('required') && produtoFormGroup.get('supplier')?.touched"
      >
        <i style="color: red">Campo não pode estar vazio.</i>
      </div>
      <ion-item>
        <ion-label position="stacked">Email:</ion-label>
        <ion-input
          formControlName="email"
          id="email"
          inputmode="email"
          clearInput="true"
          required
          email
        ></ion-input>
      </ion-item>
      <div
        *ngIf="produtoFormGroup.get('email')?.hasError('required') && produtoFormGroup.get('email')?.touched"
      >
        <i style="color: red">Campo não pode estar vazio.</i>
      </div>
      <ion-item>
        <ion-label position="stacked">CNPJ:</ion-label>
        <ion-input
          formControlName="cnpj"
          inputmode="text"
          clearInput="true"
          required
        ></ion-input>
      </ion-item>
      <div
        *ngIf="produtoFormGroup.get('cnpj')?.hasError('required') && produtoFormGroup.get('cnpj')?.touched"
      >
        <i style="color: red">Campo não pode estar vazio.</i>
      </div>
      <ion-item>
        <ion-label position="stacked">Telefone:</ion-label>
        <ion-input
          formControlName="phone"
          inputmode="text"
          clearInput="true"
          required
        ></ion-input>
      </ion-item>
      <div
        *ngIf="produtoFormGroup.get('phone')?.hasError('required') && produtoFormGroup.get('phone')?.touched"
      >
        <i style="color: red">Campo não pode estar vazio.</i>
      </div>

      <ion-item>
        <ion-label position="stacked">CEP:</ion-label>
        <ion-input
          (change)="loadEndereco()"
          formControlName="cep"
          id="cep"
          inputmode="text"
          clearInput="true"
          required
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Logradouro:</ion-label>
        <ion-input
          formControlName="logradouro"
          id="logradouro"
          inputmode="text"
          clearInput="true"
          required
          readonly
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Número:</ion-label>
        <ion-input
          formControlName="numero"
          id="numero"
          inputmode="number"
          clearInput="true"
          required
        ></ion-input>
      </ion-item>
      <ion-item>
        <div
          *ngIf="produtoFormGroup.get('numero')?.hasError('required') && produtoFormGroup.get('numero')?.touched"
        >
          <i style="color: red">Campo não pode estar vazio.</i>
        </div>
        <ion-label position="stacked">Bairro:</ion-label>
        <ion-input
          formControlName="bairro"
          id="bairro"
          inputmode="text"
          clearInput="true"
          required
          readonly
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Cidade:</ion-label>
        <ion-input
          formControlName="localidade"
          id="localidade"
          inputmode="text"
          clearInput="true"
          required
          readonly
        ></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-buttons>
          <ion-button
            style="
              background: rgb(228, 72, 72);
              color: #f3f3f3;
              border-radius: 4px;
            "
            type="submit"
            >Salvar</ion-button
          >
        </ion-buttons>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
